
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.ashenlive" level="ALL"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}:%L) - %msg%n</pattern>
        </layout>
        <withJansi>true</withJansi>
    </appender>

    <!-- File Appender -->
    <appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>logFileName</key>
            <defaultValue>head0</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logFileHead}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>Logs/LogFile-${logFileHead}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
                </layout>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover. Make sure the path matches the one in the file element or else the rollover logs are placed in the working directory. -->
                    <fileNamePattern>Logs/LogFile-${logFileHead}-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
                    <TimeBasedFileNamingAndTriggeringPolicy
                            class="com.ashenlive.StartupSizeTimeBasedTriggeringPolicy">
                        <!-- rollover if the file size exceeds 50MB -->
                        <MaxFileSize>50MB</MaxFileSize>
                    </TimeBasedFileNamingAndTriggeringPolicy>
                    <!-- keep 30 days' worth of history -->
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-THREAD"/>
    </root>

</configuration>
